section.placeOrder_main_container {
    margin: 80px 0px;
}
.placeOrder_details_title {
    margin-bottom: 50px;
    padding-bottom: 15px;
    border-bottom: 1px solid gray;
}
div.place_order_prices_container {
    margin: 20px 0px;
}
button.form_submit_disabled {
    width: 100%;
    padding: 12px 0px;
    border: none;
    border-radius: 7px;
    background: lightgray;
    color: white;
}
@media(max-width: 425px) {
    div.placeOrder_order_container {
        margin-top: 50px;
    }
}