:root {
    --redColor: #f91944;
}
body {
    font-family: 'Poppins', sans-serif;
}
.main_btn {
    padding: 7px 21px;
    color: white;
    background: var(--redColor);
    border: none;
    outline: none !important;
    user-select: none;
}